body{ padding: 0px; margin: 0px; list-style: none; font: normal 14px/18px 'Lato', sans-serif; color:#000; }
p{padding: 0px; margin: 0px;}
a{padding: 0px; margin: 0px; outline: none;}
ul{ list-style: none; padding: 0px; margin: 0px;}
label{ list-style: none; padding: 0px; margin: 0px;}
ul li{ padding: 0px; margin: 0px;}
h1, h2, h3, h4, h5, h6{padding: 0px; margin: 0px;}
input[type="text"]::-webkit-placeholder { opacity: 1;  }
input[type="text"]::-moz-placeholder { opacity: 1;}
input[type="password"]::-webkit-placeholder { opacity: 1;}
input[type="password"]::-moz-placeholder { opacity: 1;}
input[type="search"]::-webkit-placeholder { opacity: 1;}
input[type="search"]::-moz-placeholder { opacity: 1;}
input[type="email"]::-webkit-placeholder { opacity: 1; }
input[type="email"]::-moz-placeholder { opacity: 1;}
input[type="tel"]::-webkit-placeholder { opacity: 1;}
input[type="tel"]::-moz-placeholder { opacity: 1;}
textarea::-moz-placeholder { opacity: 1;  }
textarea::-webkit-placeholder { opacity: 1;}
a:hover{ outline: none !important; text-decoration: none;}
a:active{ outline: none !important; text-decoration: none;}
a{ text-decoration: none !important;  -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;  -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}
button, input[type="submit"]{ -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;  -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out; cursor: pointer;}
input, button{ -webkit-appearance: none;}
input:focus{ outline: none; box-shadow: none;}
button:focus, input[type="submit"]:focus{ outline: none; box-shadow: none;}
figure{ margin: 0px !important; }



/*header*/
.header_sec{ width: 100%;}

.nav_top{ margin: 0px; padding: 0px; background: none; border: none; min-height: auto; box-shadow: none; border-radius: 0px;}
.drop-nav{ position: absolute; top: 10px; right: 0px;}
.nav_top .dropdown-menu li a{ font-size: 13px;}
.menu_sec li{ position: relative;}



.container{max-width: 1440px;}
















 
 
  
  
@media (min-width: 992px) and (max-width: 9000px) 
{
.nav_top .dropdown > .dropdown-menu { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s;
    -o-transition: all 0.3s;transition: all 0.3s; max-height: 0; display: block; opacity: 0; visibility: hidden;  margin:0px; border: none; border-bottom: 2px solid #ccc; 
    background:#fff !important;
    width: 150px; padding: 0px;
   border-radius: 0; left: 0; right: inherit; padding: 5px 8px 8px; box-shadow: inherit; }

.nav_top .dropdown:hover > .dropdown-menu { max-height: 300px;opacity: 1; visibility: visible; }
.nav_top .dropdown .dropdown-menu .dropdown > .dropdown-menu{position: absolute;right: 100% !important;top: 0;left: inherit;}







}
@media only screen and (max-width: 1600px) {

    .container{max-width: 1370px;}


}
@media only screen and (max-width: 1400px) { 
  
    .container{max-width: 1170px;}
    
}
  
@media only screen and (max-width: 1200px) {

    .container{max-width: 960px;}




}


@media only screen and (max-width: 992px) {
.nav_top .navbar-toggler{ border: none; background: none;padding: 10px 0; margin-right: 15px;}
.nav_top .navbar-toggler .icon-bar {display: block;width: 34px;height: 5px;  border-radius: 16px; background-color: #02579b;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {  margin-top: 3px;}
.navbar-toggler .icon-bar{-moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.navbar-toggler.showtoggle .icon-bar:nth-child(1) {transform: translateY(8px) rotate(45deg);}
.navbar-toggler.showtoggle .icon-bar:nth-child(2) { opacity: 0;}  
.navbar-toggler.showtoggle .icon-bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg);} 
.header_sec .container{ padding: 0px;}
.navbar-collapse{ position: absolute; top: 100%; left: 0px; background: #fff; width: 100%; z-index: 11;}
.navbar-brand{ padding-left: 15px;}
.menu_sec li a{ width: 100%; padding: 10px 15px;}
        
.container{max-width: 750px;}

} 
 
 


 
@media only screen and (max-width: 768px){

    .container{max-width: 100%;}


}




@media only screen and (max-width: 577px){ 





} 
 
