body {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font: normal 16px/30px "Open Sans", sans-serif;
  color: #6f6b80;
}
p {
  padding: 0px;
  margin: 0px;
}
a {
  padding: 0px;
  margin: 0px;
  outline: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
label {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul li {
  padding: 0px;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}
input[type="text"]::-webkit-placeholder {
  opacity: 1;
}
input[type="text"]::-moz-placeholder {
  opacity: 1;
}
input[type="password"]::-webkit-placeholder {
  opacity: 1;
}
input[type="password"]::-moz-placeholder {
  opacity: 1;
}
input[type="search"]::-webkit-placeholder {
  opacity: 1;
}
input[type="search"]::-moz-placeholder {
  opacity: 1;
}
input[type="email"]::-webkit-placeholder {
  opacity: 1;
}
input[type="email"]::-moz-placeholder {
  opacity: 1;
}
input[type="tel"]::-webkit-placeholder {
  opacity: 1;
}
input[type="tel"]::-moz-placeholder {
  opacity: 1;
}
textarea::-moz-placeholder {
  opacity: 1;
}
textarea::-webkit-placeholder {
  opacity: 1;
}
a:hover {
  outline: none !important;
  text-decoration: none;
}
a:active {
  outline: none !important;
  text-decoration: none;
}
a {
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
button,
input[type="submit"] {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
input,
button {
  -webkit-appearance: none;
}
input:focus {
  outline: none;
  box-shadow: none;
}
button:focus,
input[type="submit"]:focus {
  outline: none;
  box-shadow: none;
}
figure {
  margin: 0px !important;
}

/*header*/
.header_sec {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.nav_top {
  margin: 0px;
  padding: 15px 0;
  background: none;
  border: none;
  min-height: auto;
  box-shadow: none;
  border-radius: 0px;
}
.nav_top .navbar-brand {
  max-width: 180px;
  margin: 0;
  padding: 0;
}
.nav_top .navbar-brand img {
  width: auto;
  max-width: 100%;
}
.nav_top .orngBtn {
  margin-left: 15px;
}
.drop-nav {
  position: absolute;
  top: 10px;
  right: 0px;
}
.nav_top .dropdown-menu li a {
  font-size: 13px;
}
.menu_sec li {
  position: relative;
}
.menu_sec li a {
  display: inline;
  padding: 10px 15px;
  color: #000;
  font-weight: 500;
}
.menu_sec li.actv a,
.menu_sec li a:hover {
  color: #f75023;
}
.header_sec.fixed {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.header_sec.fixed .nav_top .navbar-brand {
  max-width: 130px;
}
.container {
  max-width: 1440px;
}

h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: normal;
  color: #000;
  font-family: "Poppins";
}
h2 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  color: #000;
  font-family: "Open Sans";
  padding-bottom: 25px;
}
h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  color: #000;
  font-family: "Open Sans";
}
h4 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  color: #000;
  font-family: "Open Sans";
}
h5 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #f75023;
  font-family: "Open Sans";
}
h6 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  font-family: "Open Sans";
}
p {
  padding-bottom: 10px;
}
.orngBtn {
  font-weight: 500;
  color: #fff;
  font-family: "Open Sans";
  border: 2px solid #f75023;
  border-radius: 50px;
  display: inline-block;
  padding: 8px 25px;
  background: #f75023;
}
.orngBtn:hover {
  background: none;
  color: #000;
}
.banner_sec {
  background: url("../images/banner-bg-1.jpg") no-repeat center center / cover;
  padding: 200px 0 80px;
  position: relative;
}
.banner_row {
  align-items: center;
}
.banner_content h4 {
  color: #f75023;
}
.banner_content h5 {
  padding: 20px 0;
}
.banner_content h5 span {
  color: #1cbe59;
}
.banner_img {
  position: relative;
}
.banner_main_img {
  max-width: 100%;
  width: auto;
  -webkit-mask-image: url("../images/JFD-Profile-mask-1-1.png");
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}
.banner_sm_img1,
.banner_sm_img2,
.banner_sm_img3 {
  width: 50px;
  position: absolute;
  animation: logo-object 4s linear infinite;
}
.banner_sm_img1 {
  left: 15%;
  top: 8%;
}
.banner_sm_img2 {
  right: 25%;
  top: 20%;
}
.banner_sm_img3 {
  left: 28%;
  bottom: 4%;
}
@keyframes logo-object {
  0% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(-7px);
  }
}
.banner_social_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}
.banner_social_container .orngBtn {
  margin-right: 25px;
}
.social_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.social_box a {
  font-size: 18px;
  color: #000;
  transition: 0.5s all;
}
.social_box a:hover {
  color: #f75023;
}
.switch_btn {
  color: #000;
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
.switch_btn:hover {
  color: #f75023;
}
.quality_sec {
  padding: 80px 0;
  text-align: center;
}
.quality_box {
  padding: 0 30px;
}
.quality_box img {
  width: 90px;
  margin-bottom: 30px;
}
.quality_box h4 {
  padding-bottom: 25px;
}
.about_sec {
  padding: 80px 0;
  background: url("../images/1-1-1.png") no-repeat top left 150px,
    url("../images/2-1-1.png") no-repeat bottom right, #fff;
}
.about_row {
  align-items: center;
}
.about_content .orngBtn {
  margin-top: 20px;
}
.about_img {
  position: relative;
}
.about_main_img {
  -webkit-mask-image: url(../images/JFD-Profile-mask-2-1-1.png);
  -webkit-mask-size: contain;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  max-width: 100%;
  width: auto;
}
.success_box {
  padding: 25px;
  border-radius: 8px;
  box-shadow: 25px 0px 65px 0px rgba(54.000000000000036, 32, 152, 0.11);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  position: absolute;
  background: #fff;
}
.success_box1 {
  top: 30%;
  left: 8%;
}
.success_box2 {
  bottom: 5%;
  right: 10%;
}
.success_box b {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
}
.success_box1 b {
  color: #1cbe59;
}
.success_box2 b {
  color: #6e50f0;
}
.success_box h6 {
  padding-left: 15px;
}
.portfolio_sec {
  padding: 80px 0;
  text-align: center;
  background: url("../images/color-1-1.png") no-repeat top left 150px,
    url("../images/object-2-1-1.png") no-repeat bottom right 50px;
}
.portfolio_gallery {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  height: 450px;
  margin-top: 24px;
}
.portfolio_gallery::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s all;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio_gallery_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}
.portfolio_gallery:hover::before,
.portfolio_gallery:hover .portfolio_gallery_content {
  opacity: 1;
  visibility: visible;
  width: 100%;
  border-radius: 0%;
}
.portfolio_gallery:hover::before {
  height: 100%;
}
.portfolio_gallery_content h5 {
  padding-bottom: 15px;
}
.portfolio_gallery_content h5,
.portfolio_gallery_content p {
  color: #fff;
}
.gallery_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
}
.gallery_links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f75023;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

@media (min-width: 992px) and (max-width: 9000px) {
  .nav_top .dropdown > .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    margin: 0px;
    border: none;
    border-bottom: 2px solid #ccc;
    background: #fff !important;
    width: 150px;
    padding: 0px;
    border-radius: 0;
    left: 0;
    right: inherit;
    padding: 5px 8px 8px;
    box-shadow: inherit;
  }

  .nav_top .dropdown:hover > .dropdown-menu {
    max-height: 300px;
    opacity: 1;
    visibility: visible;
  }
  .nav_top .dropdown .dropdown-menu .dropdown > .dropdown-menu {
    position: absolute;
    right: 100% !important;
    top: 0;
    left: inherit;
  }
}
@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1370px;
  }
}
@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1170px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .nav_top .navbar-toggler {
    border: none;
    background: none;
    padding: 10px 0;
    margin-right: 15px;
  }
  .nav_top .navbar-toggler .icon-bar {
    display: block;
    width: 34px;
    height: 5px;
    border-radius: 16px;
    background-color: #02579b;
  }
  .nav_top .navbar-toggler .icon-bar + .icon-bar {
    margin-top: 3px;
  }
  .navbar-toggler .icon-bar {
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .navbar-toggler.showtoggle .icon-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggler.showtoggle .icon-bar:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler.showtoggle .icon-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .header_sec .container {
    padding: 0px;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0px;
    background: #fff;
    width: 100%;
    z-index: 11;
  }
  .navbar-brand {
    padding-left: 15px;
  }
  .menu_sec li a {
    width: 100%;
    padding: 10px 15px;
  }

  .container {
    max-width: 750px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 577px) {
}
